

      <div   ng-reflect-product="" class="ng-star-inserted">
        <div   headercolor="#4ab8e6" class="card card-insurance ng-star-inserted grid"  [ngClass]="product.compare ? 'product compare' : 'product'">
           <article  intersectionobserver="" class="card--qp08insurance-container ng-star-inserted">			
            <div  class="container"></div>
            <div class="view_details" (click)='toggleCompare()'>
              {{product.compare ? "Remove" : "Compare"}}
            </div>
            <div  class="card-insurance-body my-2 ng-star-inserted body-small">
              <div  class="position-inherit px-2 w-100"><div key={product.item_id}></div><div class="image_overlay">
            </div>
                <div  class="head-card d-flex flex-column" >
                  <div  class="d-flex justify-content-between">
                   <div  class="col-4 px-0 position-inherit pt-3">
                    <div  class="image-company mb-2">
                     <div  animated="false">
                        <picture  title="" class="ng-star-inserted">
                        
                         <img  alt="" title="" width="130" height="32" loading="eager" fetchpriority="high" ng-img="true"  class="fade-in ng-star-inserted" [src]="product.images[0].url" [alt]="product.name">
                        </picture>
                     </div>
                    </div>
                    <div  class="d-flex cjustify-content-between">
                     <span  placement="bottom" class="badge-category help badge-preferente ng-star-inserted badge-movil" style="--color-category: 0, 164, 178;"> Preferente </span>
                   </div>
                   </div>
                   <div  class="col-8 px-0 d-flex zjustify-content-end mr-1 h-100 flex-column align-items-end">
                    <div  class="d-flex flex-column">
                     <div [ngClass]="product.compare ? 'product compare' : 'product'">
                        <div  class="d-flex flex-column align-items-end">
                         <div  class="d-flex align-items-end flex-wrap justify-content-end">
                          <div  class="d-flex feature-options ng-star-inserted"></div>
                         </div>
                        </div>         
                        <div class="score-insurance py-1 d-flex flex-column ng-star-inserted font-size-grid">
                         <div class="ng-star-inserted">
                          <p container="body" class="help"><span  class="nota-insurance font-size-nota" style="background-color: rgb(60, 173, 90);"> 6,2 </span> de 6,5 </p>
                         </div>
                        </div>
                     </div>
                    </div>
                   </div>
                  </div>
                  <div  class="text-left ng-star-inserted">
                    <h3  qppopover="" title="PLENO PLUS NORTE 220" class="title-insurance-movil">PLENO PLUS NORTE 220</h3>
                   </div>
                </div>
                <div  class="body-card ">
                   <div  class="ng-star-inserted">
                    <div   class="info-qp08-insurance ng-star-inserted">
                     <div   class="row mt-2 mr-0 ml-0 align-items-center">
                      <div   class="px-1 col-6">
                         <div   class="d-flex flex-column card-items mb-2"><span   class="item-title"><i   class="fal fa-hospital icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Prestadores </span><span   container="body" class="mb-0 help card-items item-value ng-star-inserted"><span  > CL. Tarapaca + otros</span></span></div>
                      </div>
                      <div   class="px-1 ng-star-inserted col-6">
                         <div   class="d-flex flex-column card-items mb-2">
                          <span   container="body" class="item-title">
                          <i   class="fal icon mr-1 fa-procedures" style="--fa-secondary-opacity: 0.6;"></i> Hospitalaria </span>
                          <div   class="-qp08-h ng-star-inserted">
                           <div  >Cobertura (-qp08) </div>
                          </div>
                          <span   container="body" class="help ng-star-inserted"><span   class="ng-star-inserted">90% Libre elección</span></span>
                         </div>
                      </div>
                      <div   class="px-1 ng-star-inserted col-6">
                         <div   class="d-flex flex-column card-items mb-2"><span   container="body" class="item-title"><i   class="fal icon mr-1 fa-user-md" style="--fa-secondary-opacity: 0.6;"></i> Ambulatoria </span><span   container="body" class="help ng-star-inserted"><span   class="ng-star-inserted">80% Libre elección</span></span></div>
                      </div>
                      <div   class="px-1 ng-star-inserted col-6">
                         <div   class="d-flex flex-column card-items mb-2"><span   container="body" class="item-title"><i   class="fal icon mr-1 fa-heart-rate" style="--fa-secondary-opacity: 0.6;"></i> Urgencia </span><span   container="body" class="help card-items ng-star-inserted"><span   class="ng-star-inserted">80% Libre elección</span></span></div>
                      </div>
                      <div   class="px-1 col-6">
                         <div   container="body" class="d-flex flex-column card-items mb-2"><span   class="item-title"><i   class="fal fa-arrow-alt-to-top icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Tope Anual </span><span   class="card-items"> 8.000 UF </span></div>
                      </div>
                     </div>
                    </div>
                   </div>
                </div>
               </div>
               <div  class="px-2 w-100">
                <hr  class="mt-2 mb-2 ng-star-inserted">
                <div  class="row align-items-center justify-content-center ng-star-inserted">
                   <div  class="col-12">
                    <div  class="price-insurance">
                     <div  class="content-price ng-star-inserted">
                      <div >
                         <p  class="d-flex align-items-center justify-content-center container-price-label m-0 ng-star-inserted"><small >Desde</small></p>
                         <div  class="ng-star-inserted">
                          <div >
                          <i  class="fal fa-info-circle ml-1"></i></div>
                         </div>
                      </div>
                      <div  class="d-flex align-items-center justify-content-center ng-star-inserted">
                         <p  class="m-0 price-qp08-value"> ${{ product.precio }}<small  class="price-suffix text-nowrap ml-1 ng-star-inserted">/mes</small></p>
                      </div>
                     </div>
                    </div>
                   </div>
                   <div  class="col-12">
                    <div  class="d-flex justify-content-center ng-star-inserted">
                     <div  class="ng-star-inserted">
                      <section class="example-section" >
                  <button (click)='toggleCompare();' class="btn btn-outline-primary btn-sm mt-2" type="button">
                    {{product.compare ? "Remover" : "Comparar"}}
                  </button>
                        <!-- <p><mat-checkbox formControlName="comparar">Comparar</mat-checkbox></p> -->
        
                        </section>
                      
                     </div>
                    </div>
                   </div>
                </div>
                <div class="ng-star-inserted" >
                   <div  class="button-insurance ng-star-inserted"><a  href=""><span >Solicitar</span></a></div>
                   <div  class="view-detail text-center ng-star-inserted" (click)="openDialog(product)" ><a  href="">Ver Detalle</a></div>
                </div>
               </div>
              </div>
      </article>
    </div>
   </div>


  
  