<div headercolor="#4ab8e6" class="card card-insurance list ng-star-inserted">
   <div  class="card--qp75a30cafinsurance-container ng-star-inserted">
     <div class="container"></div>
     <div class="card-insurance-body my-2 ng-star-inserted">
       <div class="position-inherit col-md-9 left-column">
         <div class="head-card d-flex flex-column">
           <div class="d-flex justify-content-between">
             <div class="col-4 px-0 position-inherit pt-3">
               <div class="image-company mb-2">
                 <div animated="false">
                   <picture title="Banmédica - Comparador Planes de Isapres" class="ng-star-inserted">
                     <source type="image/webp">
                     <source type="image/png"  class="ng-star-inserted">
                     <img alt="Logo de la aseguradora Banmédica - Comparador Planes de Isapres" title="Banmédica - Comparador Planes de Isapres" class="fade-in ng-star-inserted" width="100" height="26" loading="eager" fetchpriority="high" ng-img="true" src="{{product.images[0].url}}" alt="{{ product.name }}" srcset="{{product.images[0].url}} 1x, {{product.images[0].url}} 2x">
                   </picture>
                 </div>
               </div>
               <div class="d-flex flex-column justify-content-between">
                 <span class="badge-category help badge-preferente ng-star-inserted" style="--color-category: 0, 164, 178;"> Preferente </span>
               </div>
             </div>
            
             <div class=" col-lg-9 pt-2 col-8 px-0 d-flex justify-content-end mr-1 h-100 align-items-center">
               <div class="d-flex flex-column">
                 <div>
                   <div class="d-flex flex-column align-items-end">
                     <div class="d-flex align-items-center flex-wrap justify-content-end">
                       <div class="d-flex feature-options ng-star-inserted"></div>
                       <div class="d-flex justify-content-end ng-star-inserted">
                         <div class="ng-star-inserted">
                           <mat-checkbox class="mat-mdc-checkbox pr-0 mat-accent ng-untouched ng-pristine ng-valid" >
                             <div class="mdc-form-field">
                               <div class="mdc-checkbox">
                                 <div class="mat-mdc-checkbox-touch-target"></div>
                                 <input type="checkbox" class="mdc-checkbox__native-control" tabindex="0" aria-checked="false">
                                 <div class="mdc-checkbox__ripple"></div>
                                 <div class="mdc-checkbox__background">
                                   <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" class="mdc-checkbox__checkmark">
                                     <path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" class="mdc-checkbox__checkmark-path"></path>
                                   </svg>
                                   <div class="mdc-checkbox__mixedmark"></div>
                                 </div>
                                 <div  class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"></div>
                               </div>
                               <label for="mat-mdc-checkbox-11-input">
                                 <span container="body" triggers="mouseenter:mouseleave"> Comparar </span>
                               </label>
                             </div>
                           </mat-checkbox>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="score-insurance d-flex flex-column ng-star-inserted">
                     <div class="ng-star-inserted">
                       <p container="body" class="help"> Puntaje: <span class="nota-insurance" style="background-color: rgb(43, 173, 89);"> 7,2 </span> de 7,2 </p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
        
           <div class="text-left ng-star-inserted" style="line-height: 1rem;">
             <span  class="title-insurance">{{product.name}}</span>
           </div>
         </div>
         <hr />
         <div class="body-card pt-2">
           <div style="line-height: 1.5;" class="ng-star-inserted">
             <div class="info-qp75a30caf-insurance ng-star-inserted">
               <div class="row mt-2 mr-0 ml-0 align-items-center">
                 <div class="px-1 col-md-4">
                   <div class="d-flex flex-column card-items mb-2">
                     <span class="item-title">
                       <i class="fal fa-hospital icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Prestadores </span>
                     <span container="body" class="mb-0 help card-items item-value ng-star-inserted">
                       <span>Cl. Dávila + otros </span>
                     </span>
                   </div>
                 </div>
                 <div class="px-1 col-md-4 ng-star-inserted">
                   <div class="d-flex flex-column card-items mb-2">
                     <span container="body" class="item-title">
                       <i class="fal icon mr-1 fa-procedures" style="--fa-secondary-opacity: 0.6;"></i> Hospitalaria </span>
                     <div class="-qp75a30caf-h ng-star-inserted">
                       <div>Cobertura (-qp75a30caf) </div>
                     </div>
                     <span container="body" class="help ng-star-inserted">
                       <span class="ng-star-inserted">100% Preferente</span>
                     </span>
                   </div>
                 </div>
                 <div class="row g-2 pb-3 pb-lg-0 px-1 col-md-4 ng-star-inserted">
                   <div class="d-flex flex-column card-items mb-2">
                     <span container="body" class="item-title">
                       <i class="fal icon mr-1 fa-user-md" style="--fa-secondary-opacity: 0.6;"></i> Ambulatoria </span>
                     <span container="body" class="help ng-star-inserted">
                       <span class="ng-star-inserted">90% Preferente</span>
                     </span>
                   </div>
                 </div>
                 <div class="px-1 col-md-4 ng-star-inserted">
                   <div class="d-flex flex-column card-items mb-2">
                     <span container="body" class="item-title">
                       <i class="fal icon mr-1 fa-heart-rate" style="--fa-secondary-opacity: 0.6;"></i> Urgencia </span>
                     <span container="body" class="help card-items ng-star-inserted">
                       <span class="ng-star-inserted">90% Preferente</span>
                     </span>
                   </div>
                 </div>
                 <div class="px-1 col-md-4">
                   <div container="body" class="d-flex flex-column card-items mb-2">
                     <span class="item-title">
                       <i class="fal fa-arrow-alt-to-top icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Tope Anual </span>
                     <span class="card-items"> 7.500 UF </span>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-12 col-lg-2 text-white py-3 py-lg-0 ">
         <div class="price-insurance ng-star-inserted">
           <div class="content-price text-center ng-star-inserted">
             <span class="d-flex align-items-center justify-content-center container-price-label ng-star-inserted">
               <span class="d-block text-uppercase fw-bold">Desde</span>
               <div class="ng-star-inserted">
                 <div>
                   <i class="fal fa-info-circle ml-1"></i>
                 </div>
               </div>
             </span>
             <!-- <strong class="price-qp75a30caf-value ng-star-inserted">{{ product.precio }}</strong> -->
             <h2 class="my-0">{{ product.precio }}</h2>
             <span class="form-text text-white text-extra-small fw-bolder text-uppercase pb-3">/mes</span>
           </div>
         </div>
         <div class="ng-star-inserted"></div>
         <div>
           <div class="button-insurance">
             <div>
               <button>
                 <a style="background: rgb(244, 153, 178);" href="/Isapre/Banmedica/Planes/BMASS230856/solicitar">
                   <span>Solicitar</span>
                 </a>
               </button>
             </div>
           </div>
           <button class="view-detail text-center ng-star-inserted">
             <a href="/Isapre/Banmedica/Planes/BMASS230856">Ver Detalle</a>
           </button>
         </div>
       </div>
      </div>
   </div>
 </div>

 <!-- <div class="col-12 col-lg-2 text-white py-3 py-lg-0 ">
  <small class="d-block text-uppercase fw-bold">Total a pagar</small>
  <h2 class="my-0">{{ product.precio }}</h2>
  <div class="form-text text-white text-extra-small fw-bolder text-uppercase pb-3">mensual</div>
  <button (click)="openDialog(product)" class="fw-bolder text-white text-uppercase" type="button">Más infpormación</button>
  <button (click)='toggleCompare();' class="btn btn-outline-primary btn-sm mt-2" type="button">
          {{product.compare ? "Remover" : "Comparar"}}
        </button>
  <a routerLink="/" class="fw-bolder text-white text-uppercase">Más información</a>
</div> -->