
  <div  headercolor="#4ab8e6" class="card card-insurance list ng-star-inserted" _nghost-ng-c4193683943="">
    <article _ngcontent-ng-c4193683943="" intersectionobserver="" class="card--qp4b73876finsurance-container ng-star-inserted">
       <div _ngcontent-ng-c4193683943="" class="container">
       </div>
       <div _ngcontent-ng-c4193683943="" class="card-insurance-body my-2 ng-star-inserted" _nghost-ng-c259114317="">
          <div _ngcontent-ng-c4193683943="" class="position-inherit col-md-9 left-column">
             <div _ngcontent-ng-c4193683943="" class="head-card d-flex flex-column">
                <div _ngcontent-ng-c4193683943="" class="d-flex justify-content-between">
                   <div _ngcontent-ng-c4193683943="" class="col-4 px-0 position-inherit pt-3">
                      <div _ngcontent-ng-c4193683943="" class="image-company mb-2">
                         <div _ngcontent-ng-c4193683943="" animated="false">
                            <picture title="" class="ng-star-inserted">
             
                               <img alt="" title="" class="fade-in ng-star-inserted" width="130" height="32" loading="eager" fetchpriority="high" ng-img="true" [src]="product.images[0].url" [alt]="product.name">
                            </picture>
                         </div>
                      </div>
                      <div _ngcontent-ng-c4193683943="" class="d-flex flex-column justify-content-between">
                         <span _ngcontent-ng-c4193683943="" placement="bottom" class="badge-category help badge-preferente ng-star-inserted" style="--color-category: 0, 164, 178;"> Preferente 
                         </span>
                      </div>
                   </div>
                   <div _ngcontent-ng-c4193683943="" class="col-8 px-0 d-flex justify-content-end mr-1 h-100 align-self-end">
                      <div _ngcontent-ng-c4193683943="" class="d-flex flex-column">
                         <div _ngcontent-ng-c4193683943="">
                            <div _ngcontent-ng-c4193683943="" class="d-flex flex-column align-items-end">
                               <div _ngcontent-ng-c4193683943="" class="d-flex align-items-end flex-wrap justify-content-end">
                                  <div _ngcontent-ng-c4193683943="" class="d-flex feature-options ng-star-inserted">
                                  </div>
                                  <section class="example-section" >
                                    <button (click)='toggleCompare();' class="btn btn-outline-primary btn-sm mt-2" type="button">
                                       {{product.compare ? "Remover" : "Comparar"}}
                                     </button>
            
                                   </section>
                                 
                               </div>
                            </div>
                            <div _ngcontent-ng-c4193683943="" class="score-insurance py-1 d-flex flex-column ng-star-inserted">
                               <div  class="ng-star-inserted">
                                  <p  container="body" class="help mb-0"> Puntaje: 
                                     <span  class="nota-insurance" style="background-color: rgb(43, 173, 89);"> 6,5 
                                     </span>  de 6,5 
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div _ngcontent-ng-c4193683943="" class="text-left ng-star-inserted">
                   <h3 _ngcontent-ng-c4193683943="" qppopover="" class="title-insurance" title="{{ getFormattedProductName() }}">{{ getFormattedProductName() }}</h3>
                </div>
             </div>
             <div _ngcontent-ng-c4193683943="" class="body-card">
                <div _ngcontent-ng-c4193683943="" class="ng-star-inserted">
                   <div  class="info-qp4b73876f-insurance ng-star-inserted">
                      <div  class="row mt-2 mr-0 ml-0 align-items-center">
                         <div  class="px-1 col-md-4">
                            <div  class="d-flex flex-column card-items mb-2">
                               <span  class="item-title">
                               <i  class="fal fa-hospital icon mr-1" style="--fa-secondary-opacity: 0.6;">
                               </i> Prestadores 
                               </span>
                               <span  container="body" class="mb-0 help card-items item-value ng-star-inserted">
                               <span >
                               Cl. Bupa 
                               + otros
                               </span>
                               </span>
                            </div>
                         </div>
                         <div  class="px-1 col-md-4 ng-star-inserted">
                            <div  class="d-flex flex-column card-items mb-2">
                               <span  container="body" class="item-title">
                               <i  class="fal icon mr-1 fa-procedures" style="--fa-secondary-opacity: 0.6;">
                               </i> Hospitalaria 
                               </span>
                               <div  class="-qp4b73876f-h ng-star-inserted">
                                  <div >Cobertura (-qp4b73876f) </div>
                               </div>
                               <span  container="body" class="help ng-star-inserted">
                               <span  class="ng-star-inserted">100% Libre elección
                               </span>
                               </span>
                            </div>
                         </div>
                         <ng-template #popTemplate>Here we go: <div [innerHtml]="html"></div></ng-template>

                         <div  class="px-1 col-md-4 ng-star-inserted">
                            <div  class="d-flex flex-column card-items mb-2  bs-popover" [popover]="popTemplate" popoverTitle="Dynamic html inside" [triggers]="triggerEvent">
                               <span  container="body" class="item-title">
                               <i  class="fal icon mr-1 fa-user-md" style="--fa-secondary-opacity: 0.6;">
                               </i> Ambulatoria 
                               </span>
                               <span  container="body" class="help ng-star-inserted">
                               <span  class="ng-star-inserted">70% Libre elección
                               </span>
                               </span>
                            </div>
                         </div>
                         <div  class="px-1 col-md-4 ng-star-inserted">
                            <div  class="d-flex flex-column card-items mb-2">
                               <span  container="body" class="item-title">
                               <i  class="fal icon mr-1 fa-heart-rate" style="--fa-secondary-opacity: 0.6;">
                               </i> Urgencia 
                               </span>
                               <span  container="body" class="help card-items ng-star-inserted">
                               <span  class="ng-star-inserted">70% Libre elección
                               </span>
                               </span>
                            </div>
                         </div>
                         <div  class="px-1 col-md-4">
                            <div  container="body" class="d-flex flex-column card-items mb-2">
                               <span  class="item-title">
                               <i  class="fal fa-arrow-alt-to-top icon mr-1" style="--fa-secondary-opacity: 0.6;">
                               </i> Tope Anual 
                               </span>
                               <span  class="card-items"> 8.000 UF 
                               </span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div _ngcontent-ng-c4193683943="" class="col-3 my-auto">
             <div _ngcontent-ng-c4193683943="" class="price-insurance ng-star-inserted">
                <div _ngcontent-ng-c4193683943="" class="content-price text-center ng-star-inserted">
                   <p _ngcontent-ng-c4193683943="" class="d-flex align-items-center justify-content-center container-price-label m-0 ng-star-inserted">
                      <span _ngcontent-ng-c4193683943="" class="price-label">Desde
                      </span>
                  
                   </p>
                   <div _ngcontent-ng-c4193683943="" class="d-flex align-items-center justify-content-center ng-star-inserted">
                      <p _ngcontent-ng-c4193683943="" class="m-0 price-qp4b73876f-value">
                         ${{ product.precio }}
                         <small _ngcontent-ng-c4193683943="" class="price-suffix text-nowrap ml-1 ng-star-inserted">/mes
                         </small>
                      </p>
                   </div>
                </div>
             </div>
             <div _ngcontent-ng-c4193683943="" _nghost-ng-c1382562721="" class="ng-star-inserted">
             </div>
             <div _ngcontent-ng-c4193683943="">
                <div _ngcontent-ng-c4193683943="" class="button-insurance ng-star-inserted">
                   <a _ngcontent-ng-c4193683943="" href="">
                   <span >Solicitar
                   </span>
                   </a>
                </div>
                <div _ngcontent-ng-c4193683943="" class="view-detail text-center ng-star-inserted">
                   <a _ngcontent-ng-c4193683943="" (click)="openDialog(product)">Ver Detalle
                   </a>
                </div>
             </div>
          </div>
       </div>
    </article>
 </div>
 