<header nx-header>
    <nx-header-brand>
        <nx-link>
            <a href="#">
                <figure nxFigure>
                    <img
                        src="../../../assets/images/asesori-logo-negative.png"
                        alt="Brand Logo"
                        role="none"
                        class="logo-image"
                    />
                </figure>
                <span class="logo-text">Prepagas</span>
            </a>
        </nx-link>
    </nx-header-brand>
</header>
