<header class="header">
  <div class="container">
    <div class="header-content">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <img src="./../../assets/images/fotos/logo-header-tr.png" alt="tu Mejor Plan" class="logo-image">
        </a>
      </div>
      <div class="container">
    </div>
      <!-- Right side buttons -->
      <div class="header-actions">
        <a routerLink="/contacto" class="action-link">Contacto</a>
        <!-- <a routerLink="/portal-clientes" class="portal-button">Portal clientes</a> -->
      </div>

      <!-- Mobile menu button -->
      <button class="mobile-menu-button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</header>