
    
    <div  class="container-fluid px-lg-4 px-2">
    
    <div  class="d-flex justify-content-between align-items-center">
    
    <div  class="navbar-header">
    
    <div-logo  >
    
    <div  class="inv-logo">
    
    <a  class="navbar-brand logo" href="/">
    
    <qp-pimg  src="/assets/images/logoQueplan.svg" alt="Logo Queplan.cl" title="Logo Queplan.cl">
    
    <img alt="Logo Queplan.cl" title="Logo Queplan.cl" class="fade-in ng-star-inserted" width="200" height="42" loading="eager" fetchpriority="high" ng-img="true" src="https://cdn.queplan.cl/images/logoQueplan.svg" srcset="https://cdn.queplan.cl/images/logoQueplan.svg 1x, https://cdn.queplan.cl/images/logoQueplan.svg 2x">
    
    <!---->
    
    <!---->
    
    <!---->
    
    </qp-pimg>
    
    <!---->
    
    </a>
    
    </div>
    
    </div-logo>
    
    </div>
    
    <nav  class="position-relative ml-auto">
    
    <div  class="navbar-collapse d-flex">
    
    <div-menu  _nghost-ng-c2626436023="">
    
    <div  class="d-none d-xl-block">
    
    <!---->
    
    <ul  class="main-menu ng-star-inserted" style="">
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-de-Salud" style="color: rgb(0, 164, 178);">
    
    <i  class="mr-2 fa-shield fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguros de Salud</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="2" href="/Comparar/Seguros-de-Salud" target="_self">Todos los Seguros</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="212" href="/Comparar/Seguros-de-Salud/Fonasa" target="_self">Seguros para Fonasa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="218" href="/Comparar/Seguros-de-Salud/Primario" target="_self">Seguros Primarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="9" href="/Comparar/Seguros-de-Salud/Complementario" target="_self">Complementarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="3" href="/Comparar/Seguros-de-Salud/Catastrofico" target="_self">Catastróficos</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="217" href="/Comparar/Seguros-de-Salud/Internacional" target="_self">Internacionales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="4" href="/Comparar/Seguros-de-Salud/Escolar" target="_self">Escolares/Universitarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="5" href="/Comparar/Seguros-de-Salud/Dental" target="_self">Dentales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguro-Complementario-Empresa" style="color: rgb(26, 146, 197);">
    
    <i  class="mr-2 fa-users fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguro Empresa</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="11" href="/Comparar/Seguro-Complementario-Empresa" target="_self">Seguros Complementarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="12" href="/Comparar/Guardias" target="_self">Vida Guardias</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="13" href="/Comparar/Accidentes-Personales" target="_self">Accidentes Personales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="14" href="/Comparar/Seguro-Obligatorio-Covid-19" target="_self">Seguro Covid-19</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="15" href="/QP-Blog/Seguros-Empresas/Seguro-de-Responsabilidad-Civil" target="_self">Responsabilidad Civil</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="52" href="/QP-Blog/Seguros-Empresas/Seguros-Edificios-y-Condominios" target="_self">Seguros Comunidades</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="253" href="/QP-Blog/Seguros-Empresas/Seguros-Mascotas-Empresas" target="_self">Mascotas para tu empresa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Isapres" style="color: rgb(255, 0, 70);">
    
    <i  class="mr-2 fa-rocket fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Planes de Isapres</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="44" href="/Comparar" target="_self">Comparar Planes</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="45" href="/Tu-Mejor-Plan" target="_self">Tu Mejor Plan (beta)</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="46" href="/buscar" target="_self">Busca tu Plan</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-de-Vida" style="color: rgb(124, 62, 131);">
    
    <i  class="mr-2 fa-user fal ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguros de Vida</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="150" href="/Comparar/Seguros-de-Vida/APV" target="_self">APV</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="149" href="/Comparar/Seguros-de-Vida/Temporal" target="_self">Temporal</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="151" href="/Comparar/Seguros-de-Vida/Temporal-Devolucion" target="_self">Temporal con Devolución</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="147" href="/Comparar/Seguros-de-Vida/Ahorro" target="_self">Vida+Ahorro</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="148" href="/Comparar/Seguros-de-Vida/Full" target="_self">General</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-Mascotas" style="color: rgb(64, 180, 229);">
    
    <i  class="mr-2 fa-paw fal ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguro Mascota</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(64, 180, 229);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="252" href="/Comparar/Seguros-Mascotas" target="_self">Mascotas para tu familia</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(64, 180, 229);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="253" href="/QP-Blog/Seguros-Empresas/Seguros-Mascotas-Empresas" target="_self">Mascotas para tu empresa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <!---->
    
    <div  class="cl-view d-flex justify-content-center mt-4 mb-2 ng-star-inserted" style="">
    
    <a  class="btn btn-outline-secondary w-100 cl-menu" href="/contacto">
    
    <i  class="fas fa-phone-laptop mr-1">
    
    </i>
    
    <span  class="text-pc">Contacto</span>
    
    </a>
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    <li  class="item d-none ng-star-inserted" style="">
    
    <a  href="/contacto" class="ng-star-inserted">
    
    <i  class="fal icon-contact">
    
    </i> Contacto </a>
    
    <!---->
    
    </li>
    
    <li  class="item d-none ng-star-inserted" style="">
    
    <!-- <a  mat-raised-button="" class="btn btn-clients-header ng-star-inserted"> Portal clientes</a> -->
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </ul>
    
    <!---->
    
    </div>
    
    <div  class="d-block d-xl-none">
    
    <div  class="hamburger">
    
    <span  class="bar bar1">
    
    </span>
    
    <span  class="bar bar2">
    
    </span>
    
    <span  class="bar bar3">
    
    </span>
    
    <span  class="bar bar4">
    
    </span>
    
    <span  class="bar bar5">
    
    </span>
    
    </div>
    
    <mat-sidenav-container  class="mat-drawer-container mat-sidenav-container">
    
    <div class="mat-drawer-backdrop ng-star-inserted" style="">
    
    </div>
    
    <!---->
    
    <!--mat-drawer-anchor-->
    
    <mat-sidenav-content class="mat-drawer-content mat-sidenav-content ng-star-inserted" style="">
    
    </mat-sidenav-content>
    
    <!---->
    
    <mat-sidenav  tabindex="-1" mode="over" opened="false" position="end" hasbackdrop="true" class="mat-drawer mat-sidenav sidebar-menu ng-tns-c2033655494-1 ng-trigger ng-trigger-transform mat-drawer-end mat-drawer-over mat-sidenav-fixed ng-star-inserted" style="top: 0px; bottom: 0px; box-shadow: none; visibility: hidden;">
    
    <div cdkscrollable="" class="mat-drawer-inner-container ng-tns-c2033655494-1">
    
    <!---->
    
    <ul  class="main-menu ng-star-inserted" style="">
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-de-Salud" style="color: rgb(0, 164, 178);">
    
    <i  class="mr-2 fa-shield fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguros de Salud</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="2" href="/Comparar/Seguros-de-Salud" target="_self">Todos los Seguros</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="212" href="/Comparar/Seguros-de-Salud/Fonasa" target="_self">Seguros para Fonasa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="218" href="/Comparar/Seguros-de-Salud/Primario" target="_self">Seguros Primarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="9" href="/Comparar/Seguros-de-Salud/Complementario" target="_self">Complementarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="3" href="/Comparar/Seguros-de-Salud/Catastrofico" target="_self">Catastróficos</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="217" href="/Comparar/Seguros-de-Salud/Internacional" target="_self">Internacionales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="4" href="/Comparar/Seguros-de-Salud/Escolar" target="_self">Escolares/Universitarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(0, 164, 178);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="5" href="/Comparar/Seguros-de-Salud/Dental" target="_self">Dentales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguro-Complementario-Empresa" style="color: rgb(26, 146, 197);">
    
    <i  class="mr-2 fa-users fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguro Empresa</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="11" href="/Comparar/Seguro-Complementario-Empresa" target="_self">Seguros Complementarios</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="12" href="/Comparar/Guardias" target="_self">Vida Guardias</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="13" href="/Comparar/Accidentes-Personales" target="_self">Accidentes Personales</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="14" href="/Comparar/Seguro-Obligatorio-Covid-19" target="_self">Seguro Covid-19</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="15" href="/QP-Blog/Seguros-Empresas/Seguro-de-Responsabilidad-Civil" target="_self">Responsabilidad Civil</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="52" href="/QP-Blog/Seguros-Empresas/Seguros-Edificios-y-Condominios" target="_self">Seguros Comunidades</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(26, 146, 197);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="253" href="/QP-Blog/Seguros-Empresas/Seguros-Mascotas-Empresas" target="_self">Mascotas para tu empresa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Isapres" style="color: rgb(255, 0, 70);">
    
    <i  class="mr-2 fa-rocket fad ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Planes de Isapres</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="44" href="/Comparar" target="_self">Comparar Planes</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="45" href="/Tu-Mejor-Plan" target="_self">Tu Mejor Plan (beta)</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(255, 0, 70);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="46" href="/buscar" target="_self">Busca tu Plan</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-de-Vida" style="color: rgb(124, 62, 131);">
    
    <i  class="mr-2 fa-user fal ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguros de Vida</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="150" href="/Comparar/Seguros-de-Vida/APV" target="_self">APV</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="149" href="/Comparar/Seguros-de-Vida/Temporal" target="_self">Temporal</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="151" href="/Comparar/Seguros-de-Vida/Temporal-Devolucion" target="_self">Temporal con Devolución</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="147" href="/Comparar/Seguros-de-Vida/Ahorro" target="_self">Vida+Ahorro</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(124, 62, 131);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="148" href="/Comparar/Seguros-de-Vida/Full" target="_self">General</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <li  class="ng-star-inserted" style="">
    
    <a  routerlinkactive="active" popoverclass="qp-menu" class="d-flex align-items-center" href="/Comparar/Seguros-Mascotas" style="color: rgb(64, 180, 229);">
    
    <i  class="mr-2 fa-paw fal ng-star-inserted">
    
    </i>
    
    <!---->
    
    <span  class="font-weight-bold">Seguro Mascota</span>
    
    <!---->
    
    </a>
    
    <!---->
    
    <div  class="submenu-movile">
    
    <ul  class="sub-menu ng-star-inserted">
    
    <div  class="d-sm-flex align-items-center">
    
    <!---->
    
    <div  class="d-flex flex-column">
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(64, 180, 229);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="252" href="/Comparar/Seguros-Mascotas" target="_self">Mascotas para tu familia</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <li  class="menu-item ng-star-inserted">
    
    <div  class="d-flex align-items-center">
    
    <i  class="fal fa-long-arrow-right icon-left" style="color: rgb(64, 180, 229);">
    
    </i>
    
    <a  class="pl-2 link-submenu ng-star-inserted" id="253" href="/QP-Blog/Seguros-Empresas/Seguros-Mascotas-Empresas" target="_self">Mascotas para tu empresa</a>
    
    <!---->
    
    </div>
    
    <!---->
    
    </li>
    
    <!---->
    
    </div>
    
    </div>
    
    </ul>
    
    <!---->
    
    <!---->
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <!---->
    
    <div  class="cl-view d-flex justify-content-center mt-4 mb-2 ng-star-inserted" style="">
    
    <a  class="btn btn-outline-secondary w-100 cl-menu" href="/contacto">
    
    <i  class="fas fa-phone-laptop mr-1">
    
    </i>
    
    <span  class="text-pc">Contacto</span>
    
    </a>
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    <li  class="item d-none ng-star-inserted" style="">
    
    <a  href="/contacto" class="ng-star-inserted">
    
    <i  class="fal icon-contact">
    
    </i> Contacto </a>
    
    <!---->
    
    </li>
    
    <li  class="item d-none ng-star-inserted" style="">
    
    <a  mat-raised-button="" class="btn btn-clients-header ng-star-inserted"> Portal clientes</a>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </li>
    
    <!---->
    
    <!---->
    
    <!---->
    
    </ul>
    
    <!---->
    
    </div>
    
    </mat-sidenav>
    
    <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true">
    
    </div>
    
    </mat-sidenav-container>
    
    </div>
    
    <!---->
    
    <!---->
    
    <!---->
    
    <!---->
    
    <!---->
    
    <!---->
    
    </div-menu>
    
    <!---->
    
    </div>
    
    </nav>
    
    <!---->
    
    </div>
    
    </div>
    
   
