
   
    <button

    nxButton="block primary"
    class="nx-margin-right-xs nx-margin-bottom-m"
    (click)="openModal()"
>
    COTIZÁ TU PLAN FÁCIL!!
</button>

    
<ng-template #template>
    <form>
        <nx-natural-language-form [formGroup]="naturalForm">
            <span>Contanos sobre el grupo familiar, el titular ingesa </span>
            <nx-word size="long" label="Always a label">
                <nx-dropdown formControlName="who">
                    <nx-dropdown-item value="titular">solo</nx-dropdown-item>
                    <nx-dropdown-item value="con hijos"
                        >con hijo/s</nx-dropdown-item
                    >
                    <nx-dropdown-item value="pareja">en pareja</nx-dropdown-item>
                    <nx-dropdown-item value="pareja con hijos">en pareja con hijo/s</nx-dropdown-item>

                </nx-dropdown>
                <div nxError>Necesitamos conocer como se compone su grupo familiar.</div>
            </nx-word>
    
            <span>and visit the city of</span>
    
            <nx-word size="short" label="Always a label">
                <input nxInput formControlName="city" />
                <div nxError>This field is required.</div>
            </nx-word>
            <span>and see</span>
            <nx-word size="regular" label="Always a label">
                <input nxInput formControlName="spots" />
                @if (naturalForm.controls.spots.hasError('required')) {
                <div nxError>This field is required.</div>
                } @if (naturalForm.controls.spots.hasError('pattern')) {
                <div nxError>Only numbers are allowed.</div>
                }
            </nx-word>
            <span> nice spots.</span>
        </nx-natural-language-form>
    
        <button nxButton (click)="validate()" type="submit">submit</button>
    </form>
    
    <!-- <p>
        Form value: {{ naturalForm.value | json }}<br />
        Form status: {{ naturalForm.status | json }}
    </p>
     -->
                
</ng-template>