


 
            <nx-small-stage class="qp-banner container-fluid position-relative p-0 ng-star-inserted">
                <nav aria-label="Breadcrumb" nxSmallStageHeader>
                    <ol nxBreadcrumb>
                        <li><a href="#" nxBreadcrumbItem>Home</a></li>
                        <li><a href="#" nxBreadcrumbItem>Insurance</a></li>
                        <li><a href="#" nxBreadcrumbItem>Health Insurance</a></li>
                    </ol>
                </nav>
            
                <p nxCopytext="large" class="nx-margin-bottom-s">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
                <h2 nxHeadline="section">
                    Lorem ipsum dolor sit amet, consetetur sadipscing
                    <span class="highlighted">sed diam nonumy eirmod tempor</span>
                </h2>
                
                <nx-small-stage-image
                    nxSmallStageImageStart
                    src="../../../../../../assets/images/small-stage-image-start.svg"
                    fill
                ></nx-small-stage-image>
                <nx-small-stage-image
                    nxSmallStageImageEnd
                    src="../../../../../../assets/images/small-stage-image-end.svg"
                    fill
                ></nx-small-stage-image>
                <nx-small-stage-image
                    nxSmallStageImageBottom
                    src="../../../../../../assets/images/small-stage-image-narrow-screen.svg"
                    fill
                ></nx-small-stage-image>
            </nx-small-stage>

        
        