// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: orange;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: orange;
    }
  }

  // We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider1 .ngx-slider .ngx-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider1 .ngx-slider .ngx-slider-selection {
      background: rgb(210, 198, 177);
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider1 .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: orange;
    }
  }

  .aside_filter {
    position: sticky;
    top: 0; /* Esto hace que se quede pegado al principio de la pantalla cuando el usuario hace scroll */
    z-index: 0; /* Asegúrate de que el filtro tenga una capa superior si otros elementos se solapan */
    height: 100vh; /* Para que ocupe todo el alto de la pantalla, ajusta si es necesario */
    overflow-y: auto; /* Para permitir el desplazamiento si el contenido es más alto que la ventana */
    max-height: 100vh; /* Si deseas que se mantenga dentro de los límites de la ventana */
  }

  nx-badge {
    margin: 0px;
}
