<div _ngcontent-ng-c3355463759="" headercolor="#4ab8e6" class="card card-insurance ng-star-inserted grid" _nghost-ng-c714453976="" style="">
	<!---->
	<article  intersectionobserver="" class="card--qp08insurance-container ng-star-inserted">
	   <div  class="container">
		  <!---->
	   </div>
	   <!----><!---->
	   <div  class="card-insurance-body my-2 ng-star-inserted body-small" _nghost-ng-c259114317="">
		  <div  class="position-inherit px-2 w-100">
			 <div  class="head-card d-flex flex-column">
				<div  class="d-flex justify-content-between">
				   <div  class="col-4 px-0 position-inherit pt-3">
					  <div  class="image-company mb-2">
						 <div  animated="false">
							<picture title="Nueva Masvida - Comparador Planes de Isapres" class="ng-star-inserted">
							   <source type="image/webp" srcset="https://cdn.queplan.cl/images/isapres/isapres/masvida.webp">
							   <!---->
							   <source type="image/png" srcset="https://cdn.queplan.cl/images/isapres/isapres/masvida.png" class="ng-star-inserted">
							   <!----><img alt="Logo de la aseguradora Nueva Masvida - Comparador Planes de Isapres" title="Nueva Masvida - Comparador Planes de Isapres" class="fade-in ng-star-inserted" width="130" height="32" loading="eager" fetchpriority="high" ng-img="true" src="https://cdn.queplan.cl/images/isapres/isapres/masvida.png" srcset="https://cdn.queplan.cl/images/isapres/isapres/masvida.png 1x, https://cdn.queplan.cl/images/isapres/isapres/masvida.png 2x"><!---->
							</picture>
							<!----><!---->
						 </div>
					  </div>
					  <div  class="d-flex flex-column justify-content-between">
						 <span  placement="bottom" class="badge-category help badge-preferente ng-star-inserted badge-movil" style="--color-category: 0, 164, 178;"> Preferente </span><!----><!---->
					  </div>
				   </div>
				   <div  class="col-8 px-0 d-flex justify-content-end mr-1 h-100 flex-column align-items-end">
					  <div  class="d-flex flex-column">
						 <div >
							<div  class="d-flex flex-column align-items-end">
							   <div  class="d-flex align-items-end flex-wrap justify-content-end">
								  <div  class="d-flex feature-options ng-star-inserted">
									 <!----><!----><!----><!---->
								  </div>
								  <!----><!----><!---->
							   </div>
							</div>
							<div  class="score-insurance py-1 d-flex flex-column ng-star-inserted font-size-grid">
							   <div _ngcontent-ng-c3355463759="" class="ng-star-inserted">
								  <p _ngcontent-ng-c3355463759="" container="body" class="help mb-0">  <span _ngcontent-ng-c3355463759="" class="nota-insurance font-size-nota" style="background-color: rgb(60, 173, 90);"> 6,2 </span>  de 6,5 </p>
								  <!---->
							   </div>
							   <!----><!----><!----><!----><!---->
							</div>
							<!----><!----><!---->
						 </div>
						 <!---->
					  </div>
				   </div>
				</div>
				<div  class="text-left ng-star-inserted">
				   <h3  qppopover="" class="title-insurance-movil" title="PLENO PLUS NORTE 220">PLENO PLUS NORTE 220</h3>
				   <!---->
				</div>
				<!----><!----><!---->
			 </div>
			 <div  class="body-card">
				<div  class="ng-star-inserted">
				   <!----><!---->
				   <div _ngcontent-ng-c3355463759="" class="info-qp08-insurance ng-star-inserted">
					  <div _ngcontent-ng-c3355463759="" class="row mt-2 mr-0 ml-0 align-items-center">
						 <div _ngcontent-ng-c3355463759="" class="px-1 col-6">
							<div _ngcontent-ng-c3355463759="" class="d-flex flex-column card-items mb-2">
							   <span _ngcontent-ng-c3355463759="" class="item-title"><i _ngcontent-ng-c3355463759="" class="fal fa-hospital icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Prestadores </span>
							   <span _ngcontent-ng-c3355463759="" container="body" class="mb-0 help card-items item-value ng-star-inserted">
								  <span _ngcontent-ng-c3355463759="">
									 CL. Tarapaca <!---->+ otros<!----><!---->
								  </span>
							   </span>
							   <!----><!---->
							</div>
						 </div>
						 <!----><!---->
						 <div _ngcontent-ng-c3355463759="" class="px-1 ng-star-inserted col-6">
							<div _ngcontent-ng-c3355463759="" class="d-flex flex-column card-items mb-2">
							   <span _ngcontent-ng-c3355463759="" container="body" class="item-title"><i _ngcontent-ng-c3355463759="" class="fal icon mr-1 fa-procedures" style="--fa-secondary-opacity: 0.6;"></i> Hospitalaria </span><!---->
							   <div _ngcontent-ng-c3355463759="" class="-qp08-h ng-star-inserted">
								  <div _ngcontent-ng-c3355463759="">Cobertura (-qp08) </div>
							   </div>
							   <span _ngcontent-ng-c3355463759="" container="body" class="help ng-star-inserted">
								  <span _ngcontent-ng-c3355463759="" class="ng-star-inserted">90% Libre elección</span><!----><!----><!----><!----><!----><!----><!---->
							   </span>
							   <!----><!----><!----><!----><!---->
							</div>
						 </div>
						 <div _ngcontent-ng-c3355463759="" class="px-1 ng-star-inserted col-6">
							<div _ngcontent-ng-c3355463759="" class="d-flex flex-column card-items mb-2">
							   <span _ngcontent-ng-c3355463759="" container="body" class="item-title"><i _ngcontent-ng-c3355463759="" class="fal icon mr-1 fa-user-md" style="--fa-secondary-opacity: 0.6;"></i> Ambulatoria </span><!---->
							   <span _ngcontent-ng-c3355463759="" container="body" class="help ng-star-inserted">
								  <span _ngcontent-ng-c3355463759="" class="ng-star-inserted">80% Libre elección</span><!----><!----><!----><!----><!----><!----><!---->
							   </span>
							   <!----><!----><!----><!----><!---->
							</div>
						 </div>
						 <div _ngcontent-ng-c3355463759="" class="px-1 ng-star-inserted col-6">
							<div _ngcontent-ng-c3355463759="" class="d-flex flex-column card-items mb-2">
							   <span _ngcontent-ng-c3355463759="" container="body" class="item-title"><i _ngcontent-ng-c3355463759="" class="fal icon mr-1 fa-heart-rate" style="--fa-secondary-opacity: 0.6;"></i> Urgencia </span><!---->
							   <span _ngcontent-ng-c3355463759="" container="body" class="help card-items ng-star-inserted">
								  <span _ngcontent-ng-c3355463759="" class="ng-star-inserted">80% Libre elección</span><!----><!----><!----><!----><!----><!----><!----><!---->
							   </span>
							   <!----><!----><!----><!----><!---->
							</div>
						 </div>
						 <!---->
						 <div _ngcontent-ng-c3355463759="" class="px-1 col-6">
							<div _ngcontent-ng-c3355463759="" container="body" class="d-flex flex-column card-items mb-2"><span _ngcontent-ng-c3355463759="" class="item-title"><i _ngcontent-ng-c3355463759="" class="fal fa-arrow-alt-to-top icon mr-1" style="--fa-secondary-opacity: 0.6;"></i> Tope Anual </span><span _ngcontent-ng-c3355463759="" class="card-items"> 8.000 UF </span></div>
							<!---->
						 </div>
					  </div>
				   </div>
				   <!---->
				</div>
				<!---->
			 </div>
			 <!---->
		  </div>
		  <div  class="px-2 w-100">
			 <hr  class="mt-2 mb-2 ng-star-inserted" style="">
			 <!---->
			 <div  class="row align-items-center justify-content-center ng-star-inserted" style="">
				<div  class="col-12">
				   <div  class="price-insurance">
					  <div  class="content-price ng-star-inserted">
						 <div >
							<p  class="d-flex align-items-center justify-content-center container-price-label m-0 ng-star-inserted">
							   <small >Desde</small>
							   <div  _nghost-ng-c1833066574="" class="ng-star-inserted">
							<div _ngcontent-ng-c1833066574=""><i  class="fal fa-info-circle ml-1"></i>
							</div><!----><!----></div><!---->
						 </div>
						 <div  class="d-flex align-items-center justify-content-center ng-star-inserted">
							<p  class="m-0 price-qp08-value">
							   $147.425<small  class="price-suffix text-nowrap ml-1 ng-star-inserted">/mes</small><!---->
							</p>
							<!---->
						 </div>
						 <!---->
					  </div>
					  <!----><!---->
				   </div>
				</div>
				<div  class="col-12">
				   <div  class="d-flex justify-content-center ng-star-inserted">
					  <div  class="ng-star-inserted">
						 <mat-checkbox  class="mat-mdc-checkbox pr-0 mat-accent ng-untouched ng-pristine ng-valid" id="mat-mdc-checkbox-73">
							<div mat-internal-form-field="" class="mdc-form-field mat-internal-form-field">
							   <div class="mdc-checkbox">
								  <div class="mat-mdc-checkbox-touch-target"></div>
								  <input type="checkbox" class="mdc-checkbox__native-control" id="mat-mdc-checkbox-73-input" tabindex="0">
								  <div class="mdc-checkbox__ripple"></div>
								  <div class="mdc-checkbox__background">
									 <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" class="mdc-checkbox__checkmark">
										<path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" class="mdc-checkbox__checkmark-path"></path>
									 </svg>
									 <div class="mdc-checkbox__mixedmark"></div>
								  </div>
								  <div mat-ripple="" class="mat-ripple mat-mdc-checkbox-ripple mat-mdc-focus-indicator"></div>
							   </div>
							   <label class="mdc-label" for="mat-mdc-checkbox-73-input">
								  <span  container="body" popovertitle="" triggers="mouseenter:mouseleave"> Comparar </span><!---->
							   </label>
							</div>
						 </mat-checkbox>
					  </div>
					  <!---->
				   </div>
				   <!---->
				</div>
			 </div>
			 <!----><!---->
			 <div >
				<div  class="button-insurance ng-star-inserted"><a  href="/Isapre/Nueva-Mas-Vida/Planes/PPR24220/solicitar"><span >Solicitar</span></a></div>
				<!---->
				<div  class="view-detail text-center ng-star-inserted"><a  href="/Isapre/Nueva-Mas-Vida/Planes/PPR24220">Ver Detalle</a></div>
				<!----><!---->
			 </div>
			 <!----><!----><!----><!---->
		  </div>
	   </div>
	   <!----><!----><!----><!---->
	</article>
	<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
 </div>