.contenedor-responsivo {
  position: relative;
  overflow: hidden;
  // padding-top: 56.25%;
  margin-bottom: 10px;
  border: rounded;
}

.iframe-responsivo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
// @import '../../styles/_variables.scss';
// $image-overlay-opacity: 0.7;
// $product-main-color: $green;

// .product {
//   cursor: pointer;
//   position: relative;
//   padding-bottom: 0px;
//   border-radius: 5px;
//   overflow: hidden;
//   transition: all 500ms ease-out;
//   margin-bottom: 30px;
//   border: 1px solid #ddd;
//   &:hover {
//     box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2);
//     .image_overlay {
//       opacity: $image-overlay-opacity;
//     }

//     .view_details {
//       opacity: 1;
//       width: 152px;
//       font-size: 15px;
//       margin-left: -75px;
//       top: 35%;
//       transition: all 200ms ease-out;
//     }
//   }

//   img {
//     width: 100%;
//   }

//   &.compare {
//     .image_overlay {
//       opacity: $image-overlay-opacity;
//     }
//   }

//   .stats-container {
//     background: #fff;
//     padding: 25px 15px;
//     position: absolute;
//     bottom: 0;
//     width: 100%;

//     .product_name {
//       font-size: 22px;
//       color: #393c45;
//     }

//     p {
//       font-size: 16px;
//       color: #b1b1b3;
//       margin: 0;
//     }

//     .product_price {
//       float: right;
//       color: $product-main-color;
//       font-size: 22px;
//       font-weight: 600;
//     }
//   }

//   .image_overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: $product-main-color;
//     opacity: 0;
//     transition: all 200ms ease-out;
//   }

//   .view_details {
//     position: absolute;
//     top: 112px;
//     left: 50%;
//     margin-left: -85px;
//     border: 2px solid #fff;
//     color: #fff;
//     font-size: 19px;
//     text-align: center;
//     text-transform: uppercase;
//     font-weight: 700;
//     padding: 10px 0;
//     width: 172px;
//     opacity: 0;
//     transition: all 200ms ease-out;

//     &:hover {
//       background: #fff;
//       color: $product-main-color;
//       cursor: pointer;
//     }
//   }
// }

#span {
  font-size: 8px;
}


.main-footer{     
  position: sticky; 
  bottom: 0;
}

.feedback {
background-color : #31B0D5;
color: white;
padding: 10px 20px;
border-radius: 4px;
border-color: #46b8da;
}

#mybutton {
position: fixed;
bottom: -4px;
left: 10px;
z-index: 1000;
}


.selectedItems {
background-color : white;
width: 80px;
height: 800px;
position: fixed;
bottom: -4px;
right: 10px;

}
.badge {
position: absolute;
top: 0;
right: 50%;
font-size: 12px;
line-height: 13px;
border-radius: 50%;
width: 13px;
height: 13px;
background-color: #ff0000; 
border: 4px solid #ff0000;
color: #ffffff;
text-align: center;
}
.child {

margin: 0 ;
}


  
  .icon {
    font-size: 18px; /* El tamaño que desees */
  }
  
  .icon {
    color: #ff0000; /* Cambia #ff0000 al color que desees en formato hexadecimal, RGB, o nombre del color */
  }

  .item {
    overflow: visible !important;
  }
  .item-title[_ngcontent-dcc-c429]{
    font-size:.75rem;
    color:var(--color-secondary, #808080) 
  }
  .card-insurance {
    padding-top: 15px; /* Ajusta el valor según tus preferencias */
    padding-bottom: 15px; /* Ajusta el valor según tus preferencias */
    
    
    /* Puedes ajustar otros lados si es necesario */
    }
    
   .row {
    margin-bottom: 5px; /* Ajusta el valor según tus preferencias */
    margin-right: 5px; /* Ajusta el valor según tus preferencias */
   }
  
     .mb-5 {
      margin-left: 0px; /* Ajusta el valor según tus preferencias */
      margin-right: 0px; /* Ajusta el valor según tus preferencias */
      
      border-radius: 10px; /* Ajusta el radio según tus preferencias */
      overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
    }
    
  
    .badge-diagonal {
      position: absolute;
      top: 10px; /* Ajusta la posición desde la parte superior según tus preferencias */
      right: 10px; /* Ajusta la posición desde la parte derecha según tus preferencias */
      transform: rotate(-45deg); /* Rota el badge -45 grados */
      background-color: #f00; /* Color de fondo del badge */
      color: #fff; /* Color del texto del badge */
      padding: 5px 10px; /* Ajusta el relleno según tus preferencias */
    }
    .button-insurance{
      width:100%;
      display:flex;
      overflow:hidden;
      margin-top:.4rem;
      margin-bottom:.6rem;
      flex-direction:column
  }
.button-insurance.pulse-button{
      animation:shadow-pulse 1s infinite
  }
.button-insurance a{
      width:100%;
      margin:auto;
      display:block;
      padding:.5rem 0;
      font-size:1rem;
      cursor:pointer;
      transition:.2s;
      font-weight:600;
      border-radius:5px;
      text-align:center;
      background:var(--card-btn-insurance-background-color);
      color:var(--color-white, #ffffff) !important
  }
  @media(min-width: 992px){
    .button-insurance a{
          font-size:.875rem
      }
  }
.button-insurance a:hover{
      background:var(--card-btn-insurance-hover)
  }
.view-detail a{
      width:100%;
      margin-bottom:.5rem;
      display:block;
      padding:.5rem 0;
      cursor:pointer;
      transition:.2s;
      border-radius:5px;
      text-align:center;
      background:#f4f4f4;
      color:var(--color-secondary, #808080) !important
  }
.view-detail a:hover{
      background:#ebebeb
  }
  @media(min-width: 992px){
    .view-detail a{
          font-size:.875rem
      }
  }
   
    .icon {
      cursor: pointer;
    }


  
    .popover {
      position:absolute;
      top:0;
      left:0;
      z-index:1060;
      display:block;
      max-width:276px;
      font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
      font-style:normal;
      font-weight:400;
      line-height:1.5;
      text-align:left;
      text-align:start;
      text-decoration:none;
      text-shadow:none;
      text-transform:none;
      letter-spacing:normal;
      word-break:normal;
      white-space:normal;
      word-spacing:normal;
      line-break:auto;
      font-size:.875rem;
      word-wrap:break-word;
      background-color:#fff;
      background-clip:padding-box;
      border:1px solid rgba(0,0,0,.2);
      border-radius:.3rem
    }
    .popover .arrow {
      position:absolute;
      display:block;
      width:1rem;
      height:.5rem;
      margin:0 .3rem
    }
    .popover .arrow:before,
    .popover .arrow:after {
      position:absolute;
      display:block;
      content:"";
      border-color:transparent;
      border-style:solid
    }
    .bs-popover {
     z-index: 1050 !important;
    }


    .bs-popover-top,
    .bs-popover-auto[x-placement^=top] {
      margin-bottom:.5rem
    }
    .bs-popover-top>.arrow,
    .bs-popover-auto[x-placement^=top]>.arrow {
      bottom:calc(-.5rem - 1px)
    }
    .bs-popover-top>.arrow:before,
    .bs-popover-auto[x-placement^=top]>.arrow:before {
      bottom:0;
      border-width:.5rem .5rem 0;
      border-top-color:#00000040
    }
    .bs-popover-top>.arrow:after,
    .bs-popover-auto[x-placement^=top]>.arrow:after {
      bottom:1px;
      border-width:.5rem .5rem 0;
      border-top-color:#fff
    }
    .bs-popover-right,
    .bs-popover-auto[x-placement^=right] {
      margin-left:.5rem
    }
    .bs-popover-right>.arrow,
    .bs-popover-auto[x-placement^=right]>.arrow {
      left:calc(-.5rem - 1px);
      width:.5rem;
      height:1rem;
      margin:.3rem 0
    }
    .bs-popover-right>.arrow:before,
    .bs-popover-auto[x-placement^=right]>.arrow:before {
      left:0;
      border-width:.5rem .5rem .5rem 0;
      border-right-color:#00000040
    }
    .bs-popover-right>.arrow:after,
    .bs-popover-auto[x-placement^=right]>.arrow:after {
      left:1px;
      border-width:.5rem .5rem .5rem 0;
      border-right-color:#fff
    }
    .bs-popover-bottom,
    .bs-popover-auto[x-placement^=bottom] {
      margin-top:.5rem
    }
    .bs-popover-bottom>.arrow,
    .bs-popover-auto[x-placement^=bottom]>.arrow {
      top:calc(-.5rem - 1px)
    }
    .bs-popover-bottom>.arrow:before,
    .bs-popover-auto[x-placement^=bottom]>.arrow:before {
      top:0;
      border-width:0 .5rem .5rem .5rem;
      border-bottom-color:#00000040
    }
    .bs-popover-bottom>.arrow:after,
    .bs-popover-auto[x-placement^=bottom]>.arrow:after {
      top:1px;
      border-width:0 .5rem .5rem .5rem;
      border-bottom-color:#fff
    }
    .bs-popover-bottom .popover-header:before,
    .bs-popover-auto[x-placement^=bottom] .popover-header:before {
      position:absolute;
      top:0;
      left:50%;
      display:block;
      width:1rem;
      margin-left:-.5rem;
      content:"";
      border-bottom:1px solid #f7f7f7
    }
    .bs-popover-left,
    .bs-popover-auto[x-placement^=left] {
      margin-right:.5rem
    }
    .bs-popover-left>.arrow,
    .bs-popover-auto[x-placement^=left]>.arrow {
      right:calc(-.5rem - 1px);
      width:.5rem;
      height:1rem;
      margin:.3rem 0
    }
    .bs-popover-left>.arrow:before,
    .bs-popover-auto[x-placement^=left]>.arrow:before {
      right:0;
      border-width:.5rem 0 .5rem .5rem;
      border-left-color:#00000040
    }
    .bs-popover-left>.arrow:after,
    .bs-popover-auto[x-placement^=left]>.arrow:after {
      right:1px;
      border-width:.5rem 0 .5rem .5rem;
      border-left-color:#fff
    }
    .popover-header {
      padding:.5rem .75rem;
      margin-bottom:0;
      font-size:1rem;
      background-color:#f7f7f7;
      border-bottom:1px solid #ebebeb;
      border-top-left-radius:calc(.3rem - 1px);
      border-top-right-radius:calc(.3rem - 1px)
    }
    .popover-header:empty {
      display:none
    }
    .popover-body {
      padding:.5rem .75rem;
      color:#212529
    }

    .title-insurance {
    font-size:1.125rem;
    font-weight:600;
    text-align:center;
    text-transform:uppercase
}
@media only screen and (max-width: 700px){
    .title-insurance {
        font-size:1rem
    }
}
.info-qp4b73876f-insurance {
    width:100%;
    line-height:1.5
}
.info-qp4b73876f-insurance  .icon {
    font-size:1.2rem;
    text-align:center;
    color:var(--color-primary, #40b4e5)
}
.nota-insurance {
    font-size:1rem !important;
    background-color:#ff0046;
    border-radius:5px;
    font-weight:600;
    padding:2px 1px 2px 4px;
    margin:0rem .2rem;
    color:var(--color-white, #ffffff)
}
.font-size-nota {
    font-size:1rem !important
}
.prestadores{
    white-space:pre
}
.ngx-pagination .current{
    background:var(--color-primary, #40b4e5) !important
}
.tieneCopago  i {
    color:#5e5
}
.best-product {
    border:4px solid #5ecf90
}
.best-product  .margin-best {
    margin-top:35px !important
}
@media only screen and (max-width: 768px){
    .best-product  .margin-best {
        margin-top:18px !important
    }
}
.best-product  .span-best {
    top:-1px;
    left:-1px;
    height:28px;
    position:absolute;
    text-align:center;
    background:#5ecf90;
    width:calc(100% + 2px)
}
@media only screen and (max-width: 768px){
    .best-product  .span-best {
        height:25px;
        text-align:left
    }
}
.best-product  .span-best  span {
    font-size:.875rem !important;
    margin-left:8px
}
.item-title {
    font-size:.75rem;
    color:var(--color-secondary, #808080)
}
.item-value {
    line-height:1.5
}
.text-libre-eleccion {
    white-space:break-spaces;
    font-size:.875rem;
    font-weight:500
}
.item-title {
    font-size:.75rem !important;
    color:var(--color-secondary, #808080)
}
.card-items  span {
    font-size:.875rem;
    font-weight:500;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
