

    <section class="qp-banner container-fluid position-relative p-0 ng-star-inserted">
        <div class="container">
            <div class="row justify-content-between align-items-center mw-100 mx-auto">
                <div class="banner-subtitle col-6">
                    <h1 class="mt-4 mb-0" style="color: rgb(64, 180, 229);"> Planes de Isapre </h1>
                    <h2>
                        Compara y Cotiza todos los Planes de Isapre Online</h2>
                    </div><!----></div>
                </div>
                <div class="bg-banner-compare-img" style="--my-color-var: #40b4e5; background-image: url(&quot;https://cdn.queplan.cl/images/banner-category/banner_default_qp.svg&quot;);">

                </div>
            </section>
            
            

            