<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <!-- Column 1 - Logo and Contact -->
      <div class="footer-column">
        <img src="./../../assets/images/fotos/logo-footer.gif" alt="tu Mejor Plan" class="footer-logo">
        <!-- <div class="contact-info">
          <a routerLink="/portal-clientes" class="footer-link">Acceso Portal Clientes</a>
          <a routerLink="/contacto" class="footer-link">Contacto</a>
          <p>+562 2712 7123</p>
          <p>+562 2712 7123</p>
          <p>Monseñor Sotero Sanz #100, Of 801</p>
          <a routerLink="/prensa" class="footer-link">Contacto para prensa</a>
        </div> -->
        <!-- <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        </div> -->
      <!-- </div> -->

      <!-- Column 2 - Seguros -->
      <!-- <div class="footer-column">
        <h3 class="footer-title">SEGUROS</h3>
        <ul class="footer-links">
          <li><a routerLink="#" class="footer-link">Comparar Seguros de Salud</a></li>
          <li><a routerLink="#" class="footer-link">Seguros Complementarios</a></li>
          <li><a routerLink="#" class="footer-link">Seguros Catastróficos</a></li>
          <li><a routerLink="#" class="footer-link">Seguros Escolares/Universitarios</a></li>
          <li><a routerLink="#" class="footer-link">Seguros Empresas</a></li>
          <li><a routerLink="#" class="footer-link">Seguros de Vida</a></li>
          <li><a routerLink="#" class="footer-link">Seguros de Viaje</a></li>
          <li><a routerLink="#" class="footer-link">Aseguradoras de Chile</a></li>
          <li><a routerLink="#" class="footer-link">Clínicas de Chile</a></li>
          <li><a routerLink="#" class="footer-link">Mapa de Productos</a></li>
        </ul>
      </div> -->

      <!-- Column 3 - Isapres -->
      <!-- <div class="footer-column">
        <h3 class="footer-title">ISAPRES</h3>
        <ul class="footer-links">
          <li><a routerLink="#" class="footer-link">Comparar Isapres Online</a></li>
          <li><a routerLink="#" class="footer-link">Tu Mejor Plan (beta)</a></li>
          <li><a routerLink="#" class="footer-link">Buscador de Planes de Isapre</a></li>
          <li><a routerLink="#" class="footer-link">Isapres de Chile</a></li>
          <li><a routerLink="#" class="footer-link">Mapa de Productos Isapres</a></li>
        </ul>
      </div> -->

      <!-- Column 4 - Más de QuePlan.cl -->
      <!-- <div class="footer-column"> -->
        <!-- <h3 class="footer-title">MÁS DE QUEPLAN.CL</h3> -->
        <!-- <ul class="footer-links">
          <li><a routerLink="#" class="footer-link">Partners y Alianzas</a></li>
          <li><a routerLink="#" class="footer-link">Acerca de QuePlan.cl</a></li>
          <li><a routerLink="#" class="footer-link">QPSubscription</a></li>
          <li><a routerLink="#" class="footer-link">Trabajos y Prácticas</a></li>
          <li><a routerLink="#" class="footer-link">QP Analytics</a></li>
          <li><a routerLink="#" class="footer-link">QP Blog</a></li>
          <li><a routerLink="#" class="footer-link">QP Presupuestos</a></li>
          <li><a routerLink="#" class="footer-link">Términos y Condiciones</a></li>
          <li><a routerLink="#" class="footer-link">Queplan.cl Referidos</a></li>
        </ul> -->

        <!-- <div class="supported-by">
          <h4 class="support-title">APOYADO POR:</h4>
          <div class="support-logos"> -->
            <!-- <img src="assets/images/corfo-logo.png" alt="Corfo">
            <img src="assets/images/gobierno-chile-logo.png" alt="Gobierno de Chile"> -->
          <!-- </div>
          <h4 class="support-title">REGULADO POR:</h4> -->
          <!-- <img src="assets/images/cmf-logo.png" alt="CMF" class="regulator-logo"> -->
        <!-- </div>-->
      <!-- </div> -->
    </div> 

    <!-- Country flags -->
    <!-- <div class="country-flags"> -->
  
      <!-- <img src="assets/images/flag-argentina.png" alt="Argentina"> -->
    </div>
</div>
</footer>