

<nx-selectable-card class="nx-margin-bottom-2m" appearance="expert" highlight>
    <div nxHighlightHeader>Highlight</div>
    <div class="card"> 
    <img
    height="56"
    [src]="product.images[0].url" 
    [alt]="product.name"
/>
<div class="container">
    <h3 nxHeadline="subsection-small">Card headline</h3>
    <hr />
    <p nxCopytext>Highlight selectable list</p>
</div>
<hr />
<h3 nxHeadline="subsection-small">Card headline</h3>
<hr />
<p nxCopytext>Highlight selectable card</p>
    <hr />
    <div class="button-container">

        
        <button nxButton="primary small-medium" type="button">Primary</button>
        <button nxButton="secondary small-medium" type="button">Secondary</button>
</div>
</div>
</nx-selectable-card>




            