<div _ngcontent-ng-c1250167330="">
  <section class="qp-banner container-fluid position-relative p-0 ng-star-inserted">
     <div class="container">
        <div class="row justify-content-between align-items-center mw-100 mx-auto">
           <div class="banner-subtitle col-6">
              <h1 class="mt-4 mb-0" style="color: rgb(64, 180, 229);"> Planes de Isapre </h1>
              <h2>Compara y Cotiza todos los Planes de Isapre Online</h2>
           </div>
           <!---->
        </div>
     </div>
     <div class="bg-banner-compare-img" style="--my-color-var: #40b4e5; background-image: url(&quot;https://cdn.queplan.cl/images/banner-category/banner_default_qp.svg&quot;);"></div>
  </section>
  <!---->
  <div class="ng-star-inserted form-sticky">
     <div class="overlay ng-star-inserted show"></div>
     <div popovertitle="¡Personaliza tu búsqueda!" container="body" placement="bottom" class="form-content p-3 ng-star-inserted form-warning" aria-describedby="ngb-popover-43">
        <!---->
        <div _nghost-ng-c1485135320="" class="ng-tns-c1485135320-5 ng-star-inserted">
           <form _ngcontent-ng-c1485135320="" novalidate="" autocomplete="off" class="form-inline ng-tns-c1485135320-5 ng-untouched ng-pristine ng-valid ng-star-inserted">
              <div _ngcontent-ng-c1485135320="" appearance="outline" class="mat-mdc-form-field col-12 col-lg-2 ng-tns-c1485135320-5 ng-tns-c3736059725-10 px-1 mat-mdc-form-field-type-mat-input div-appearance-outline div-hide-placeholder mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted">
                 <!---->
                 <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c3736059725-10 mdc-text-field--outlined">
                    <!---->
                    <div class="mat-mdc-form-field-flex ng-tns-c3736059725-10">
                       <div matformfieldnotchedoutline="" class="mdc-notched-outline ng-tns-c3736059725-10 mdc-notched-outline--upgraded ng-star-inserted">
                          <div class="mdc-notched-outline__leading"></div>
                          <div class="mdc-notched-outline__notch">
                             <label matformfieldfloatinglabel="" class="mdc-floating-label mat-mdc-floating-label ng-tns-c3736059725-10 ng-star-inserted" id="mat-mdc-form-field-label-4" for="mat-input-0" style="">
                                <div _ngcontent-ng-c1485135320="" class="ng-tns-c3736059725-10">Region</div>
                                <!---->
                             </label>
                             <!----><!----><!---->
                          </div>
                          <div class="mdc-notched-outline__trailing"></div>
                       </div>
                       <!----><!----><!---->
                       <div class="mat-mdc-form-field-infix ng-tns-c3736059725-10">
                          <!----><input _ngcontent-ng-c1485135320="" type="text" matinput="" formcontrolname="region" class="mat-mdc-input-element mat-mdc-autocomplete-trigger ng-tns-c3736059725-10 ng-untouched ng-pristine ng-valid mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored" id="mat-input-0" aria-invalid="false" aria-required="false" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="listbox"><!---->
                          <div _ngcontent-ng-c1485135320="" class="mat-mdc-autocomplete ng-tns-c3964489799-11 ng-tns-c3736059725-10 ng-star-inserted">
                             <!---->
                          </div>
                       </div>
                       <!----><!---->
                    </div>
                    <!---->
                 </div>
                 <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c3736059725-10">
                    <div class="mat-mdc-form-field-hint-wrapper ng-tns-c3736059725-10 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                       <!---->
                       <div class="mat-mdc-form-field-hint-spacer ng-tns-c3736059725-10"></div>
                    </div>
                    <!----><!---->
                 </div>
              </div>
              <div _ngcontent-ng-c1485135320="" formgroupname="cotizante" class="form-inline col-12 col-lg ng-tns-c1485135320-5 ng-untouched ng-pristine ng-valid" style="margin: 0; padding: 0;">
                 <div _ngcontent-ng-c1485135320="" appearance="outline" class="mat-mdc-form-field col-12 col-lg-3 ng-tns-c1485135320-5 ng-tns-c3736059725-12 px-1 mat-mdc-form-field-type-mat-input div-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted div-hide-placeholder">
                    <!---->
                    <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c3736059725-12 mdc-text-field--outlined">
                       <!---->
                       <div class="mat-mdc-form-field-flex ng-tns-c3736059725-12">
                          <div matformfieldnotchedoutline="" class="mdc-notched-outline ng-tns-c3736059725-12 mdc-notched-outline--upgraded ng-star-inserted">
                             <div class="mdc-notched-outline__leading"></div>
                             <div class="mdc-notched-outline__notch">
                                <label matformfieldfloatinglabel="" class="mdc-floating-label mat-mdc-floating-label ng-tns-c3736059725-12 ng-star-inserted" id="mat-mdc-form-field-label-6" for="mat-input-1" style="">
                                   <div _ngcontent-ng-c1485135320="" class="ng-tns-c3736059725-12">Ingreso Mensual Líquido</div>
                                   <!---->
                                </label>
                                <!----><!----><!---->
                             </div>
                             <div class="mdc-notched-outline__trailing"></div>
                          </div>
                          <!----><!----><!---->
                          <div class="mat-mdc-form-field-infix ng-tns-c3736059725-12">
                             <!----><input _ngcontent-ng-c1485135320="" matinput="" formcontrolname="cotizante_ingreso" placeholder="1.000.000" inputmode="numeric" class="mat-mdc-input-element ng-tns-c3736059725-12 ng-untouched ng-pristine ng-valid mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored" id="mat-input-1" aria-invalid="false" aria-required="false">
                          </div>
                          <!----><!---->
                       </div>
                       <!---->
                    </div>
                    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c3736059725-12">
                       <div class="mat-mdc-form-field-hint-wrapper ng-tns-c3736059725-12 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                          <!---->
                          <div class="mat-mdc-form-field-hint-spacer ng-tns-c3736059725-12"></div>
                       </div>
                       <!----><!---->
                    </div>
                 </div>
                 <div _ngcontent-ng-c1485135320="" appearance="outline" class="mat-mdc-form-field col-6 col-lg-1 ng-tns-c1485135320-5 ng-tns-c3736059725-13 px-1 mat-mdc-form-field-type-mat-input div-appearance-outline div-hide-placeholder mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted">
                    <!---->
                    <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c3736059725-13 mdc-text-field--outlined">
                       <!---->
                       <div class="mat-mdc-form-field-flex ng-tns-c3736059725-13">
                          <div matformfieldnotchedoutline="" class="mdc-notched-outline ng-tns-c3736059725-13 mdc-notched-outline--upgraded ng-star-inserted">
                             <div class="mdc-notched-outline__leading"></div>
                             <div class="mdc-notched-outline__notch">
                                <label matformfieldfloatinglabel="" class="mdc-floating-label mat-mdc-floating-label ng-tns-c3736059725-13 ng-star-inserted" id="mat-mdc-form-field-label-8" for="mat-input-2" style="">
                                   <div _ngcontent-ng-c1485135320="" class="ng-tns-c3736059725-13">Edad</div>
                                   <!---->
                                </label>
                                <!----><!----><!---->
                             </div>
                             <div class="mdc-notched-outline__trailing"></div>
                          </div>
                          <!----><!----><!---->
                          <div class="mat-mdc-form-field-infix ng-tns-c3736059725-13">
                             <!----><input _ngcontent-ng-c1485135320="" matinput="" type="number" formcontrolname="cotizante_edad" placeholder="23" oninput="this.value = Math.abs(this.value)" class="mat-mdc-input-element ng-tns-c3736059725-13 ng-untouched ng-pristine ng-valid mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored" id="mat-input-2" aria-invalid="false" aria-required="false">
                          </div>
                          <!----><!---->
                       </div>
                       <!---->
                    </div>
                    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c3736059725-13">
                       <div class="mat-mdc-form-field-hint-wrapper ng-tns-c3736059725-13 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                          <!---->
                          <div class="mat-mdc-form-field-hint-spacer ng-tns-c3736059725-13"></div>
                       </div>
                       <!----><!---->
                    </div>
                 </div>
                 <div _ngcontent-ng-c1485135320="" appearance="outline" class="mat-mdc-form-field col-6 col-lg-2 ng-tns-c1485135320-5 ng-tns-c3736059725-14 px-1 mat-mdc-form-field-type-div div-appearance-outline div-hide-placeholder mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted">
                    <!---->
                    <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c3736059725-14 mdc-text-field--outlined">
                       <!---->
                       <div class="mat-mdc-form-field-flex ng-tns-c3736059725-14">
                          <div matformfieldnotchedoutline="" class="mdc-notched-outline ng-tns-c3736059725-14 mdc-notched-outline--upgraded ng-star-inserted">
                             <div class="mdc-notched-outline__leading"></div>
                             <div class="mdc-notched-outline__notch">
                                <label matformfieldfloatinglabel="" class="mdc-floating-label mat-mdc-floating-label ng-tns-c3736059725-14 ng-star-inserted" id="mat-mdc-form-field-label-10" for="div-4" style="">
                                   <div _ngcontent-ng-c1485135320="" class="ng-tns-c3736059725-14">Sexo</div>
                                   <!---->
                                </label>
                                <!----><!----><!---->
                             </div>
                             <div class="mdc-notched-outline__trailing"></div>
                          </div>
                          <!----><!----><!---->
                          <div class="mat-mdc-form-field-infix ng-tns-c3736059725-14">
                             <!---->
                             <div _ngcontent-ng-c1485135320="" role="combobox" aria-autocomplete="none" aria-haspopup="listbox" formcontrolname="cotizante_sexo" class="mat-mdc-select ng-tns-c1771602899-15 ng-tns-c3736059725-14 mat-mdc-select-empty ng-untouched ng-pristine ng-valid ng-star-inserted" aria-labelledby="mat-mdc-form-field-label-10 div-value-5" id="div-4" tabindex="0" aria-expanded="false" aria-required="false" aria-disabled="false" aria-invalid="false">
                                <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1771602899-15">
                                   <div class="mat-mdc-select-value ng-tns-c1771602899-15" id="div-value-5">
                                      <span class="mat-mdc-select-placeholder mat-mdc-select-min-line ng-tns-c1771602899-15 ng-star-inserted"></span><!----><!---->
                                   </div>
                                   <div class="mat-mdc-select-arrow-wrapper ng-tns-c1771602899-15">
                                      <div class="mat-mdc-select-arrow ng-tns-c1771602899-15">
                                         <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true" class="ng-tns-c1771602899-15">
                                            <path d="M7 10l5 5 5-5z" class="ng-tns-c1771602899-15"></path>
                                         </svg>
                                      </div>
                                   </div>
                                </div>
                                <!---->
                             </div>
                          </div>
                          <!----><!---->
                       </div>
                       <!---->
                    </div>
                    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c3736059725-14">
                       <div class="mat-mdc-form-field-hint-wrapper ng-tns-c3736059725-14 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                          <!---->
                          <div class="mat-mdc-form-field-hint-spacer ng-tns-c3736059725-14"></div>
                       </div>
                       <!----><!---->
                    </div>
                 </div>
                 <div _ngcontent-ng-c1485135320="" class="col-12 col-lg ng-tns-c1485135320-5 text-left pl-2 ng-star-inserted">
                    <button _ngcontent-ng-c1485135320="" type="button" class="btn btn-desktop btn-add ng-tns-c1485135320-5">
                       <div _ngcontent-ng-c1485135320="" class="d-flex align-items-center ng-tns-c1485135320-5">
                          <i _ngcontent-ng-c1485135320="" class="fal fa-user-plus ng-tns-c1485135320-5"></i>
                          <div _ngcontent-ng-c1485135320="" class="d-flex add-content ng-tns-c1485135320-5 flex-column">Agregar asegurados</div>
                       </div>
                    </button>
                    <button _ngcontent-ng-c1485135320="" type="button" class="btn btn-movil btn-add ng-tns-c1485135320-5">
                       <div _ngcontent-ng-c1485135320="" class="d-flex align-items-center justify-content-center ng-tns-c1485135320-5">
                          <i _ngcontent-ng-c1485135320="" class="fal fa-user-plus ng-tns-c1485135320-5"></i>
                          <div _ngcontent-ng-c1485135320="" class="d-flex add-content ng-tns-c1485135320-5 flex-column">Agregar asegurados</div>
                       </div>
                    </button>
                    <!---->
                 </div>
                 <!----><label _ngcontent-ng-c1485135320="" class="col-12 col-lg-3 ng-tns-c1485135320-5"><button _ngcontent-ng-c1485135320="" type="submit" ngbautofocus="" class="button w-100 ng-tns-c1485135320-5" style="background: #2b35ea;"><span _ngcontent-ng-c1485135320="" class="submit ng-tns-c1485135320-5">Calcular precios</span><span _ngcontent-ng-c1485135320="" class="btn-loading ng-tns-c1485135320-5"><i _ngcontent-ng-c1485135320="" class="fa fa-sync ng-tns-c1485135320-5"></i></span><span _ngcontent-ng-c1485135320="" class="check ng-tns-c1485135320-5"><i _ngcontent-ng-c1485135320="" class="fa fa-check ng-tns-c1485135320-5"></i></span></button></label>
              </div>
           </form>
           <div _ngcontent-ng-c1485135320="" class="mt-3 ml-2 form-resume ng-tns-c1485135320-5 d-none ng-star-inserted">
              <!---->
           </div>
           <!----><!----><!----><!----><!----><!----><!----><!---->
        </div>
        <!----><!---->
     </div>
     <!----><!----><!---->
  </div>
  <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
</div>
