<div   class="">

  <div  class="row align-items-center justify-content-end mw-100 mx-auto" style="display: contents;">
  <div  class="d-flex justify-content-between w-100 align-items-center header-up-small">
  <div  >
  <div  class="d-flex align-items-center count">
  
  <div>

  <div  class="">
  
  
  </div>
  
  </div>
  </div>
  </div>
  <div  class="d-flex align-items-center">
  <div  class="header d-flex pl-2">
  
  
  
  </div>
  
  
  
  
  
  <div  class="header d-flex mr-3 pl-2">
  
  
  
  
  </div>
  
  
  
  
  
 
  
  
  
  
  
  
  <div  class="header d-flex pl-2">
  <div  appearance="outline" class=" height-45 ng-tns-c3736059725-6 -type-div div-appearance-outline div-hide-placeholder mat-primary">
  
  <div class=" mdc-text-field ng-tns-c3736059725-6 mdc-text-field--outlined">
  
  <div class="-flex ng-tns-c3736059725-6">
  <div  class="mdc-notched-outline ng-tns-c3736059725-6 mdc-notched-outline--upgraded">
  <div class="mdc-notched-outline__leading">
  </div>
  <div class="mdc-notched-outline__notch">
  <label  class="mdc-floating-label mat-mdc-floating-label ng-tns-c3736059725-6" id="-label-0" for="div-0" style="">
  <div  class="ng-tns-c3736059725-6">Ordenar por
  </div>
  
  </label>
  
  
  
  </div>
  <div class="mdc-notched-outline__trailing">
  </div>
  </div>
  
  
  
  <div class="-infix ng-tns-c3736059725-6">
  
  <div  role="combobox" aria-autocomplete="none" aria-haspopup="listbox" class="mat-mdc-select select-order ng-tns-c1771602899-7 ng-tns-c3736059725-6 mat-mdc-select-empty" aria-labelledby="-label-0 div-value-1" id="div-0" tabindex="0" aria-expanded="false" aria-required="false" aria-disabled="false" aria-invalid="false">
  <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1771602899-7">
  <div class="mat-mdc-select-value ng-tns-c1771602899-7" id="div-value-1">
  <span class="mat-mdc-select-placeholder mat-mdc-select-min-line ng-tns-c1771602899-7">
  </span>
  
  
  </div>
  <div class="mat-mdc-select-arrow-wrapper ng-tns-c1771602899-7">
  <div class="mat-mdc-select-arrow ng-tns-c1771602899-7">
  <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true" class="ng-tns-c1771602899-7">

  </svg>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  
  
  </div>
  
  </div>
  <div class="ng-tns-c3736059725-6 ">
  <div class="ng-tns-c3736059725-6 ng-trigger ng-trigger-transitionMessages" style="opacity: 1; transform: translateY(0%);">
  
  <div class="ng-tns-c3736059725-6">
  </div>
  </div>
  
  
  </div>
  </div>
  
  
  
  </div>
  
  
  
  
  
  <div  class="header d-flex mr-0 pl-2">
  <div  appearance="outline" class=" height-45 ng-tns-c3736059725-8 -type-div div-appearance-outline mat-primary ng-untouched ng-pristine ng-valid" style="max-width: 120px;">
  
  <div class=" mdc-text-field ng-tns-c3736059725-8 mdc-text-field--outlined">
  
  <div class="-flex ng-tns-c3736059725-8">
  <div  class="mdc-notched-outline ng-tns-c3736059725-8 mdc-notched-outline--upgraded mdc-notched-outline--notched">
  <div class="mdc-notched-outline__leading">
  </div>
  <div class="mdc-notched-outline__notch" style="width: calc(64px * var(---floating-label-scale, 0.75) + 9px);">
  <div  class="ng-tns-c3736059725-8">Moneda
  </div>
  

  
  
  
  </div>
  <div class="mdc-notched-outline__trailing">
  </div>
  </div>
  
  
  
  <div class="-infix ng-tns-c3736059725-8">
  
  <div  role="combobox" aria-autocomplete="none" aria-haspopup="listbox" class="mat-buttonselect select-currency ng-tns-c1771602899-9 ng-tns-c3736059725-8 ng-untouched ng-pristine ng-valid" aria-labelledby="-label-2 div-value-3" id="div-2" tabindex="0" aria-expanded="false" aria-required="false" aria-disabled="false" aria-invalid="false">
  <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1771602899-9">
  <div class="mat-mdc-select-value ng-tns-c1771602899-9" id="div-value-3">
  <span class="mat-mdc-select-value-text ng-tns-c1771602899-9">
  <span class="mat-mdc-select-min-line ng-tns-c1771602899-9">Pesos
  </span>
  
  
  </span>
  
  
  </div>
  <div class="mat-mdc-select-arrow-wrapper ng-tns-c1771602899-9">
  <div class="mat-mdc-select-arrow ng-tns-c1771602899-9">
  <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true" class="ng-tns-c1771602899-9">
  <path d="M7 10l5 5 5-5z" class="ng-tns-c1771602899-9">
  </path>
  </svg>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  
  
  </div>
  
  </div>
  <div class="-subscript-wrapper -bottom-align ng-tns-c3736059725-8 ">
  <div class="-hint-wrapper ng-tns-c3736059725-8 ng-trigger ng-trigger-transitionMessages" style="opacity: 1; transform: translateY(0%);">
  
  <div class="-hint-spacer ng-tns-c3736059725-8">
  </div>
  </div>
  
  
  </div>
  </div>
  
  
  
  
  </div>
  
  
  
  
  
  <div  class="header d-flex ml-3 pl-2">
  <div  role="group" class="div div-appearance-standard" aria-disabled="false">
  <div  role="presentation" value="list" class="mat-button-toggle mat-button-toggle-checked mat-button-toggle-appearance-standard" id="mat-button-toggle-1">
  <button type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-1-button" tabindex="0" aria-pressed="true" name="div-0" aria-label="List">

  </button>
 
  
  </div>
  <div  role="presentation" value="grid" class="mat-button-toggle mat-button-toggle-appearance-standard" id="mat-button-toggle-2">
  <button type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-2-button" tabindex="0" aria-pressed="false" name="div-0" aria-label="Grid">
  <span class="mat-button-toggle-label-content">
  
  
  <div  role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">view_module
  </div>
  </span>
  </button>
  <span class="mat-button-toggle-focus-overlay">
  </span>
  <span matripple="" class="mat-ripple mat-button-toggle-ripple">
  </span>
  </div>
  </div>
  
  
  
  
  </div>
  
  
  
  
  
  
  </div>
  </div>
  </div>
  
  <div  class="mb-3 d-flex justify-content-end">
  
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  
  
  
  </div>