<div class="filters-sidebar">
    <div class="filter-section">
      <h3 class="filter-title">Precio</h3>
      <mat-slider min="0" max="500000" step="1000">
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div class="filter-section">
      <h3 class="filter-title">Clínicas y Hospitales</h3>
      <div class="checkbox-group">
        <mat-checkbox>Clínica Las Condes</mat-checkbox>
        <mat-checkbox>Clínica Alemana</mat-checkbox>
        <mat-checkbox>Hospital del Trabajador</mat-checkbox>
      </div>
    </div>
  </div>