<div _ngcontent-ng-c4258950202="" id="list-insurance" class="ng-tns-c4258950202-4 ng-star-inserted">
    <div>
       <nav role="navigation" aria-label="Pagination">
          <ul class="ngx-pagination ng-star-inserted">
             <li class="pagination-previous disabled ng-star-inserted">
                <!----><span aria-disabled="true" class="ng-star-inserted"> Anterior <span class="show-for-sr">page</span></span><!---->
             </li>
             <!---->
             <li class="small-screen"> 1 / 5 </li>
             <li class="current ng-star-inserted">
                <!----><span aria-live="polite" class="ng-star-inserted"><span class="show-for-sr">You're on page </span><span>1</span></span><!----><!---->
             </li>
             <li class="ng-star-inserted">
                <a tabindex="0" class="ng-star-inserted"><span class="show-for-sr">page </span><span>2</span></a><!----><!---->
             </li>
             <li class="ng-star-inserted">
                <a tabindex="0" class="ng-star-inserted"><span class="show-for-sr">page </span><span>3</span></a><!----><!---->
             </li>
             <li class="ng-star-inserted">
                <a tabindex="0" class="ng-star-inserted"><span class="show-for-sr">page </span><span>4</span></a><!----><!---->
             </li>
             <li class="ng-star-inserted">
                <a tabindex="0" class="ng-star-inserted"><span class="show-for-sr">page </span><span>5</span></a><!----><!---->
             </li>
             <!---->
             <li class="pagination-next ng-star-inserted">
                <a tabindex="0" class="ng-star-inserted"> Siguiente <span class="show-for-sr">page</span></a><!----><!---->
             </li>
             <!---->
          </ul>
          <!---->
       </nav>
    </div>
 </div>
 