<div _ngcontent-ng-c1250167330="" _nghost-ng-c2556271727="" class="ng-star-inserted">
    <div _ngcontent-ng-c2556271727="" class="bg-why-whe">
       <hr _ngcontent-ng-c2556271727="" class="my-5 ng-star-inserted">
       
       <div _ngcontent-ng-c2556271727="" class="row align-items-center justify-content-center mt-5 mx-auto w-100 bg-why-whe ng-star-inserted">
          <div _ngcontent-ng-c2556271727="" class="why-we ng-star-inserted">
             <div _ngcontent-ng-c2556271727="" class="container">
                <h2 _ngcontent-ng-c2556271727="" class="title text-center">¿Por qué contratar en QuePlan.cl?</h2>
                <div _ngcontent-ng-c2556271727="" class="title-underline" style="background: linear-gradient(90deg, rgb(64, 180, 229), rgba(64, 180, 229, 0.5));"></div>
                <div _ngcontent-ng-c2556271727="" class="row g-4 justify-content-center">
                   <div _ngcontent-ng-c2556271727="" class="col-12 col-md-6 col-lg-3 mb-2 ng-star-inserted">
                      <div _ngcontent-ng-c2556271727="" class="why-card">
                         <div _ngcontent-ng-c2556271727="" class="icon-container">
                            <i _ngcontent-ng-c2556271727="" class="fas fa-star" style="color: rgb(64, 180, 229);">
                            </i>
                         </div>
                         <h3 _ngcontent-ng-c2556271727="" class="card-title">Encuentras productos que no están en ningún otro lado.</h3>
                      </div>
                   </div>
                   <div _ngcontent-ng-c2556271727="" class="col-12 col-md-6 col-lg-3 mb-2 ng-star-inserted">
                      <div _ngcontent-ng-c2556271727="" class="why-card">
                         <div _ngcontent-ng-c2556271727="" class="icon-container">
                            <i _ngcontent-ng-c2556271727="" class="fas fa-headset" style="color: rgb(64, 180, 229);">
                            </i>
                         </div>
                         <h3 _ngcontent-ng-c2556271727="" class="card-title">Te acompañamos por siempre, respondemos rápido y claro.</h3>
                      </div>
                   </div>
                   <div _ngcontent-ng-c2556271727="" class="col-12 col-md-6 col-lg-3 mb-2 ng-star-inserted">
                      <div _ngcontent-ng-c2556271727="" class="why-card">
                         <div _ngcontent-ng-c2556271727="" class="icon-container">
                            <i _ngcontent-ng-c2556271727="" class="fas fa-badge-percent" style="color: rgb(64, 180, 229);">
                            </i>
                         </div>
                         <h3 _ngcontent-ng-c2556271727="" class="card-title">
                            <b>Garantía de mejor precio: 
                            </b> Ofrecemos precios iguales o mejores que los que encontrarás directamente en la compañía
                         </h3>
                      </div>
                   </div>
                   <div _ngcontent-ng-c2556271727="" class="col-12 col-md-6 col-lg-3 mb-2 ng-star-inserted">
                      <div _ngcontent-ng-c2556271727="" class="why-card">
                         <div _ngcontent-ng-c2556271727="" class="icon-container">
                            <i _ngcontent-ng-c2556271727="" class="fas fa-laptop" style="color: rgb(64, 180, 229);">
                            </i>
                         </div>
                         <h3 _ngcontent-ng-c2556271727="" class="card-title">El flujo es 
                            <b>100% online
                            </b>
                         </h3>
                      </div>
                   </div>
                   
                </div>
             </div>
          </div>
          
       </div>
       
    </div>
    
    
    
 </div>