
  <div class="container-conmpare" *ngIf="listaIterarComparar().length >= 1">
    <div *ngFor="let product of listaIterarComparar()" class="rectangulo"> 
      <span class="close" (click)="toggleCompare(product)" style="position: absolute; top: 5px; right: 5px; font-size: 20px; color: #030303; background-color: transparent; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px;">x</span>
      <img [src]="product.images[0].url"><p>{{ product?.name }}</p>
    </div>
    <div *ngIf="listaIterarComparar().length === 1" class="rectangulo"> 
      <img src="./../../../../../assets/images/salud/credencialvaciacontexto.png">
    </div>
    <div  *ngIf="listaIterarComparar().length === 1" class="rectangulo">
      <img src="./../../../../../assets/images/salud/credencialvaciacontexto.png"> 
    </div>
    <div  *ngIf="listaIterarComparar().length === 2" class="rectangulo">
      <img src="./../../../../../assets/images/salud/credencialvaciacontexto.png">
    </div>
  </div>

  <button *ngIf="listaIterarComparar().length > 1" type="button" class="btn btn-success" (click)="displayDialog = true">Comparalos</button>
  <p-dialog header="Comparador de Planes" [(visible)]="displayDialog" >
    <app-compara-attributes
      [productos]="listaIterarComparar()"
      ></app-compara-attributes>

  </p-dialog>



